*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  display: block;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 75%),
    url('/static/img/nicholas-doherty-WCilVtmbN_E-unsplashL.jpg') 50% 0 repeat-y
      fixed;
  background-size: cover;
}

h2 {
  font-size: 6rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6);
}

main {
  display: flex;
  margin-top: 6rem;
  margin-left: 25rem;
  margin-right: 25rem;
  height: 55vh;
  border: 2px solid #61dafb;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  height: 20vh;
  font-family: 'Sriracha', cursive;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #61dafb;
  border-radius: 3px;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.side {
  display: flex;
  flex-direction: column;
  height: 45vh;
  font-family: 'Sriracha', cursive;
  font-size: 3.5rem;
  font-weight: 100;
  margin-top: 6rem;
  color: #61dafb;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #61dafb;
  border-radius: 3px;
}

.title {
  color: #61dafb;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #61dafb;
  border-radius: 3px;
  margin-top: 6rem;
  height: 9vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.icon {
  color: #61dafb;
  font-size: 3rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6);
}

#map {
  flex: 1;
  height: 100%;
}
